{% extends "templates/layouts/master.njk" %}


{% block breadcrumbs %}
{% set breadcrumbs = [
{ title: "Головна", url: "/pages/index.html" },
{ title: "Інвестиційний паспорт" }
] %}
{% include "templates/partials/breadcrumbs.njk" %}
{% endblock %}

{% block content %}

<section class="section-wrapper">
    <div class="flex flex-col md:flex-row gap-8">
        <div class="flex-2 lg:flex-3">
            <h1 class="text-bigger mb-10">Інвестиційний паспорт</h1>
            <img class="max-w-full w-auto h-auto object-contain mb-4 md:mb-8" src="/img/sample-3.jpg" alt="">
            <div class="user-generated">
                <p>Запоріжжя активно працює над створенням сприятливого інвестиційного клімату та пропонує низку перспективних інвестиційних майданчиків. Серед них — вільні земельні ділянки з необхідною інфраструктурою, промислові зони, логістичні хаби та території, які потребують модернізації. Міська влада спільно з профільними департаментами формує базу інвестиційно привабливих об'єктів для реалізації бізнес-ініціатив у сферах промисловості, транспорту, логістики, ІТ та зеленої енергетики.</p>
                <p>Інвестиційний паспорт громади Запоріжжя — це структурований документ, що містить ключову інформацію про економічний потенціал міста, демографічну ситуацію, наявні ресурси, інфраструктуру, пільги та переваги для інвесторів. Він розроблений відповідно до міжнародних стандартів і слугує надійним орієнтиром для потенційних партнерів, які розглядають можливість вкладень у місто. Паспорт постійно оновлюється та доступний українською й англійською мовами.</p>
                <p>Серед інвестиційних проєктів Запоріжжя — створення індустріального парку, розвиток муніципального технопарку, модернізація системи громадського транспорту, а також реконструкція туристичної інфраструктури на Хортиці. У пріоритеті — проєкти з високим рівнем екологічної безпеки та інноваційною складовою. Місто відкрито до діалогу з міжнародними донорами, приватними інвесторами та державно-приватними партнерами.</p>
            </div>
        </div>
        <div class="flex-2 flex flex-col gap-8">
            <div class="bg-colored rounded-3xl p-8 flex flex-col justify-between gap-4">
                <h2 class="text-medium pb-4 border-(--theme-text) border-b-2">Стратегія економічного та соціального розвитку громади</h2>
                <p class="text-regular font-light">Ви зацікавлені у інвестиціях у нашу громаду? Ознайомтесь із стратегією економічного та соціального розвитку громади!</p>
                <div class="flex justify-between gap-4 mt-4">
                    <a class="button-transparent w-fit" href="">Написати</a>
                    <a class="button-transparent w-fit" href="">Детальніше</a>
                </div>
            </div>

            <div class="bg-colored rounded-3xl p-8 flex flex-col justify-between gap-4">
                <h2 class="text-medium pb-4 border-(--theme-text) border-b-2">Інвестиційна діяльність</h2>
                <p class="text-regular font-light">Інформація про Інвестиційні майданчики, інвестиційний паспорт громади та інвестиційні проєкти</p>
                <div class="flex justify-between gap-4 mt-4">
                    <a class="button-transparent w-fit" href="">Написати</a>
                    <a class="button-transparent w-fit" href="">Детальніше</a>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}
