{% extends "templates/layouts/master.njk" %}

{% block header %}

<header class="bg-colored">
    <div class="px-4 md:px-8 py-8 max-w-[1440px] mx-auto">
            <h1 class="text-biggest">Тендери по суб'єктам громади</h1>
    </div>
</header>

{% endblock %}


{% block breadcrumbs %}
{% set breadcrumbs = [
{ title: "Головна", url: "/pages/index.html" },
{ title: "Тендери по суб'єктам громади" }
] %}
{% include "templates/partials/breadcrumbs.njk" %}
{% endblock %}

{% block content %}

<section class="section-wrapper">
    <div class="flex justify-between items-end w-full mb-10">
        <h2 class="text-big">Дарницька районна в місті Києві державна адміністрація</h2>
        <a class="button-transparent text-custom-18px" href="">Всі тендери</a>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 shrink-0">
        <a class="relative group rounded-3xl flex flex-col" href="" target="_blank">
            <p class="bg-colored-80 text-small font-light text-center rounded-xl py-1 px-3 mb-4 w-fit">
                11.04.2025
            </p>
            <h3 class="text-big mb-4 pt-4 pr-7 border-t-2 border-black">Офісне устаткування та приладдя різне-папір Maestro Standard+ A4</h3>
            <p class="text-medium mb-4 pr-7">Очікувана вартість: 12080 UAH</p>
            <p class="text-regular font-light mb-4">-2025-08-01-001602-a</p>
            <p class="text-regular font-light mb-4">Фінансове управління Голосіївської районної в місті Києві державної адміністрації</p>
            <p class="text-regular font-light mb-4">Код ЄДРПОУ: 37479555</p>
            <p class="text-regular font-light mb-4">Статус: завершено</p>
            <img class="md:hidden group-hover:block absolute w-7 h-7 top-16 right-0 pointer-events-none" src="/img/material-design/link.svg" alt="">
        </a>
        <a class="relative group rounded-3xl flex flex-col" href="" target="_blank">
            <p class="bg-colored-80 text-small font-light text-center rounded-xl py-1 px-3 mb-4 w-fit">
                11.04.2025
            </p>
            <h3 class="text-big mb-4 pt-4 pr-7 border-t-2 border-black">Послуги, пов’язані з програмним забезпеченням (Доступ до онлайн-сервісу СОТА за підпискою модуль «Звітність»)</h3>
            <p class="text-medium mb-4 pr-7">Очікувана вартість: 1080 UAH</p>
            <p class="text-regular font-light mb-4">-2025-08-01-001602-a</p>
            <p class="text-regular font-light mb-4">Фінансове управління Голосіївської районної в місті Києві державної адміністрації</p>
            <p class="text-regular font-light mb-4">Код ЄДРПОУ: 37479555</p>
            <p class="text-regular font-light mb-4">Статус: завершено</p>
            <img class="md:hidden group-hover:block absolute w-7 h-7 top-16 right-0 pointer-events-none" src="/img/material-design/link.svg" alt="">
        </a>
        <a class="relative group rounded-3xl flex flex-col" href="" target="_blank">
            <p class="bg-colored-80 text-small font-light text-center rounded-xl py-1 px-3 mb-4 w-fit">
                11.04.2025
            </p>
            <h3 class="text-big mb-4 pt-4 pr-7 border-t-2 border-black">Офісне устаткування та приладдя різне-папір Maestro Standard+ A4</h3>
            <p class="text-medium mb-4 pr-7">Очікувана вартість: 12080 UAH</p>
            <p class="text-regular font-light mb-4">-2025-08-01-001602-a</p>
            <p class="text-regular font-light mb-4">Фінансове управління Голосіївської районної в місті Києві державної адміністрації</p>
            <p class="text-regular font-light mb-4">Код ЄДРПОУ: 37479555</p>
            <p class="text-regular font-light mb-4">Статус: завершено</p>
            <img class="md:hidden group-hover:block absolute w-7 h-7 top-16 right-0 pointer-events-none" src="/img/material-design/link.svg" alt="">
        </a>
        <a class="relative group rounded-3xl flex flex-col" href="" target="_blank">
            <p class="bg-colored-80 text-small font-light text-center rounded-xl py-1 px-3 mb-4 w-fit">
                11.04.2025
            </p>
            <h3 class="text-big mb-4 pt-4 pr-7 border-t-2 border-black">Послуги, пов’язані з програмним забезпеченням (Доступ до онлайн-сервісу СОТА за підпискою модуль «Звітність»)</h3>
            <p class="text-medium mb-4 pr-7">Очікувана вартість: 1080 UAH</p>
            <p class="text-regular font-light mb-4">-2025-08-01-001602-a</p>
            <p class="text-regular font-light mb-4">Фінансове управління Голосіївської районної в місті Києві державної адміністрації</p>
            <p class="text-regular font-light mb-4">Код ЄДРПОУ: 37479555</p>
            <p class="text-regular font-light mb-4">Статус: завершено</p>
            <img class="md:hidden group-hover:block absolute w-7 h-7 top-16 right-0 pointer-events-none" src="/img/material-design/link.svg" alt="">
        </a>
</section>
<div class="bg-colored">
    <section class="section-wrapper">
        <div class="flex justify-between items-end w-full mb-10">
            <h2 class="text-big">Дарницька районна в місті Києві державна адміністрація</h2>
            <a class="button-transparent text-custom-18px" href="">Всі тендери</a>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 shrink-0">
            <a class="relative group rounded-3xl flex flex-col" href="" target="_blank">
                <p class="bg-colored-80 text-small font-light text-center rounded-xl py-1 px-3 mb-4 w-fit">
                    11.04.2025
                </p>
                <h3 class="text-big mb-4 pt-4 pr-7 border-t-2 border-black">Офісне устаткування та приладдя різне-папір Maestro Standard+ A4</h3>
                <p class="text-medium mb-4 pr-7">Очікувана вартість: 12080 UAH</p>
                <p class="text-regular font-light mb-4">-2025-08-01-001602-a</p>
                <p class="text-regular font-light mb-4">Фінансове управління Голосіївської районної в місті Києві державної адміністрації</p>
                <p class="text-regular font-light mb-4">Код ЄДРПОУ: 37479555</p>
                <p class="text-regular font-light mb-4">Статус: завершено</p>
                <img class="md:hidden group-hover:block absolute w-7 h-7 top-16 right-0 pointer-events-none" src="/img/material-design/link.svg" alt="">
            </a>
            <a class="relative group rounded-3xl flex flex-col" href="" target="_blank">
                <p class="bg-colored-80 text-small font-light text-center rounded-xl py-1 px-3 mb-4 w-fit">
                    11.04.2025
                </p>
                <h3 class="text-big mb-4 pt-4 pr-7 border-t-2 border-black">Послуги, пов’язані з програмним забезпеченням (Доступ до онлайн-сервісу СОТА за підпискою модуль «Звітність»)</h3>
                <p class="text-medium mb-4 pr-7">Очікувана вартість: 1080 UAH</p>
                <p class="text-regular font-light mb-4">-2025-08-01-001602-a</p>
                <p class="text-regular font-light mb-4">Фінансове управління Голосіївської районної в місті Києві державної адміністрації</p>
                <p class="text-regular font-light mb-4">Код ЄДРПОУ: 37479555</p>
                <p class="text-regular font-light mb-4">Статус: завершено</p>
                <img class="md:hidden group-hover:block absolute w-7 h-7 top-16 right-0 pointer-events-none" src="/img/material-design/link.svg" alt="">
            </a>
            <a class="relative group rounded-3xl flex flex-col" href="" target="_blank">
                <p class="bg-colored-80 text-small font-light text-center rounded-xl py-1 px-3 mb-4 w-fit">
                    11.04.2025
                </p>
                <h3 class="text-big mb-4 pt-4 pr-7 border-t-2 border-black">Офісне устаткування та приладдя різне-папір Maestro Standard+ A4</h3>
                <p class="text-medium mb-4 pr-7">Очікувана вартість: 12080 UAH</p>
                <p class="text-regular font-light mb-4">-2025-08-01-001602-a</p>
                <p class="text-regular font-light mb-4">Фінансове управління Голосіївської районної в місті Києві державної адміністрації</p>
                <p class="text-regular font-light mb-4">Код ЄДРПОУ: 37479555</p>
                <p class="text-regular font-light mb-4">Статус: завершено</p>
                <img class="md:hidden group-hover:block absolute w-7 h-7 top-16 right-0 pointer-events-none" src="/img/material-design/link.svg" alt="">
            </a>
            <a class="relative group rounded-3xl flex flex-col" href="" target="_blank">
                <p class="bg-colored-80 text-small font-light text-center rounded-xl py-1 px-3 mb-4 w-fit">
                    11.04.2025
                </p>
                <h3 class="text-big mb-4 pt-4 pr-7 border-t-2 border-black">Послуги, пов’язані з програмним забезпеченням (Доступ до онлайн-сервісу СОТА за підпискою модуль «Звітність»)</h3>
                <p class="text-medium mb-4 pr-7">Очікувана вартість: 1080 UAH</p>
                <p class="text-regular font-light mb-4">-2025-08-01-001602-a</p>
                <p class="text-regular font-light mb-4">Фінансове управління Голосіївської районної в місті Києві державної адміністрації</p>
                <p class="text-regular font-light mb-4">Код ЄДРПОУ: 37479555</p>
                <p class="text-regular font-light mb-4">Статус: завершено</p>
                <img class="md:hidden group-hover:block absolute w-7 h-7 top-16 right-0 pointer-events-none" src="/img/material-design/link.svg" alt="">
            </a>
    
    </section>
</div>

<section class="section-wrapper">
    <div class="flex justify-between items-end w-full mb-10">
        <h2 class="text-big">Дарницька районна в місті Києві державна адміністрація</h2>
        <a class="button-transparent text-custom-18px" href="">Всі тендери</a>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 shrink-0">
        <a class="relative group rounded-3xl flex flex-col" href="" target="_blank">
            <p class="bg-colored-80 text-small font-light text-center rounded-xl py-1 px-3 mb-4 w-fit">
                11.04.2025
            </p>
            <h3 class="text-big mb-4 pt-4 pr-7 border-t-2 border-black">Офісне устаткування та приладдя різне-папір Maestro Standard+ A4</h3>
            <p class="text-medium mb-4 pr-7">Очікувана вартість: 12080 UAH</p>
            <p class="text-regular font-light mb-4">-2025-08-01-001602-a</p>
            <p class="text-regular font-light mb-4">Фінансове управління Голосіївської районної в місті Києві державної адміністрації</p>
            <p class="text-regular font-light mb-4">Код ЄДРПОУ: 37479555</p>
            <p class="text-regular font-light mb-4">Статус: завершено</p>
            <img class="md:hidden group-hover:block absolute w-7 h-7 top-16 right-0 pointer-events-none" src="/img/material-design/link.svg" alt="">
        </a>
        <a class="relative group rounded-3xl flex flex-col" href="" target="_blank">
            <p class="bg-colored-80 text-small font-light text-center rounded-xl py-1 px-3 mb-4 w-fit">
                11.04.2025
            </p>
            <h3 class="text-big mb-4 pt-4 pr-7 border-t-2 border-black">Послуги, пов’язані з програмним забезпеченням (Доступ до онлайн-сервісу СОТА за підпискою модуль «Звітність»)</h3>
            <p class="text-medium mb-4 pr-7">Очікувана вартість: 1080 UAH</p>
            <p class="text-regular font-light mb-4">-2025-08-01-001602-a</p>
            <p class="text-regular font-light mb-4">Фінансове управління Голосіївської районної в місті Києві державної адміністрації</p>
            <p class="text-regular font-light mb-4">Код ЄДРПОУ: 37479555</p>
            <p class="text-regular font-light mb-4">Статус: завершено</p>
            <img class="md:hidden group-hover:block absolute w-7 h-7 top-16 right-0 pointer-events-none" src="/img/material-design/link.svg" alt="">
        </a>
        <a class="relative group rounded-3xl flex flex-col" href="" target="_blank">
            <p class="bg-colored-80 text-small font-light text-center rounded-xl py-1 px-3 mb-4 w-fit">
                11.04.2025
            </p>
            <h3 class="text-big mb-4 pt-4 pr-7 border-t-2 border-black">Офісне устаткування та приладдя різне-папір Maestro Standard+ A4</h3>
            <p class="text-medium mb-4 pr-7">Очікувана вартість: 12080 UAH</p>
            <p class="text-regular font-light mb-4">-2025-08-01-001602-a</p>
            <p class="text-regular font-light mb-4">Фінансове управління Голосіївської районної в місті Києві державної адміністрації</p>
            <p class="text-regular font-light mb-4">Код ЄДРПОУ: 37479555</p>
            <p class="text-regular font-light mb-4">Статус: завершено</p>
            <img class="md:hidden group-hover:block absolute w-7 h-7 top-16 right-0 pointer-events-none" src="/img/material-design/link.svg" alt="">
        </a>
        <a class="relative group rounded-3xl flex flex-col" href="" target="_blank">
            <p class="bg-colored-80 text-small font-light text-center rounded-xl py-1 px-3 mb-4 w-fit">
                11.04.2025
            </p>
            <h3 class="text-big mb-4 pt-4 pr-7 border-t-2 border-black">Послуги, пов’язані з програмним забезпеченням (Доступ до онлайн-сервісу СОТА за підпискою модуль «Звітність»)</h3>
            <p class="text-medium mb-4 pr-7">Очікувана вартість: 1080 UAH</p>
            <p class="text-regular font-light mb-4">-2025-08-01-001602-a</p>
            <p class="text-regular font-light mb-4">Фінансове управління Голосіївської районної в місті Києві державної адміністрації</p>
            <p class="text-regular font-light mb-4">Код ЄДРПОУ: 37479555</p>
            <p class="text-regular font-light mb-4">Статус: завершено</p>
            <img class="md:hidden group-hover:block absolute w-7 h-7 top-16 right-0 pointer-events-none" src="/img/material-design/link.svg" alt="">
        </a>
</section>

{% endblock %}
