{# Expects variable: informers (array of informer objects) #}
<div class="w-full flex justify-start flex-wrap gap-x-3 gap-y-4 my-8">
    {% for informer in informers %}

        {% if informer.visible is not defined or informer.visible %}

            {# NUMBER #}
            {% if informer.type == 'number' and informer.value %}
                <div
                    class="flex flex-col justify-between items-start h-[138px] w-[48%] md:w-[250px] xl:w-[264px] rounded-3xl bg-white text-black px-5 py-5"
                    >
                    <h4 class="text-[26px]/[26px] md:text-[38px]/[38px] lg:text-[56px]/[56px]">
                        {{ informer.value }}
                    </h4>
                    <p class="text-sm md:text-base">
                        {{ informer.label }}
                    </p>
                </div>
            {% endif %}

            {# LINK #}
            {% if informer.type == 'link' %}
                <a
                    href="{{ informer.url }}"
                    class="hover:bg-colored-80 cursor-pointer flex flex-col justify-between items-center h-[138px] w-[48%] md:w-[250px] xl:w-[264px] rounded-3xl bg-white text-black px-5 py-5"
                    >
                    {% if informer.icon %}
                        <span class="material-icons py-3" style="font-size: 40px;">
                            {{ informer.icon }}
                        </span>
                    {% endif %}

                    <p class="text-sm md:text-base text-center">
                        {{ informer.label }}
                    </p>
                </a>
            {% endif %}

            {% if informer.type == 'text-link' %}
                <a
                    href="{{ informer.url }}"
                    class="hover:bg-colored-80 cursor-pointer flex flex-col justify-between h-[138px] w-[48%] md:w-[250px] xl:w-[264px] rounded-3xl bg-white text-black px-5 py-5"
                    >
                    <h4 class="text-[26px]/[26px] md:text-[38px]/[38px] lg:text-[56px]/[56px]">
                        {{ informer.value }}
                    </h4>
                    <div class="flex justify-between items-center gap-2">
                    <p class="text-sm md:text-base">
                        {{ informer.label }}
                    </p>
                    <img class="w-6 h-6" src="/img/material-design/arrow.svg">
                    </div>
                </a>
            {% endif %}

        {% endif %}

            {# ECOMONITORING #}
            {% if informer.type == 'ecomonitoring' %}
                <a  href="/pages/ecomonitoring"
                    class="ecomonitoring flex justify-between h-[138px] w-full md:w-[250px] xl:w-[264px] rounded-3xl bg-white hover:bg-colored-80 text-black px-5 py-4"
                    data-community-id="{{ informer.community_id }}"
                    >
                    <div class="flex flex-col justify-between">
                        <p class="text-small">Якість повітря</p>
                        <div class="aqi"></div>
                        <p class="text-regular">Погода</p>
                    </div>
                    <div class="flex gap-4 items-end">
                        <div class="flex flex-col justify-between h-full">
                            <div>
                                <p class="text-regular font-light">Температура</p>
                                <p class="temperature text-medium"></p>
                            </div>
                            <div>
                                <p class="text-regular font-light">Вологість</p>
                                <p class="humidity text-medium"></p>
                            </div>
                        </div>
                    </div>
                </a>
            {% endif %}

    {% endfor %}
</div>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
