<div id="news-scrollbar" class="flex gap-4 justify-start overflow-x-auto snap-x scroll-smooth scrollbar-hide">
    <a href="https://cnap.test.toolkit.in.ua/news/273566-koristuitesia-sucasnimi-mozlivostiami-otrimannia-poslug"
        class="group bg-colored rounded-4xl relative hover:bg-colored-80 flex-1 max-w-10/12 md:max-w-md min-w-xs overflow-hidden snap-start">
        <img class="w-full aspect-video object-cover mb-2"
            src="https://storage.googleapis.com/svoi-upload/20/473341/6a5ea9e0-19ad-4854-aaa5-3576fcc31cbb.png"
            alt="6a5ea9e0-19ad-4854-aaa5-3576fcc31cbb.png">
        <div class="flex flex-wrap px-6 mt-6 mb-4 gap-2">
            <p
                class="block bg-colored-80 group-hover:bg-colored transition-colors text-small font-light rounded-3xl py-1 px-2">
                Послуги громади
            </p>
            <p
                class="block bg-colored-80 group-hover:bg-colored transition-colors text-small font-light rounded-3xl py-1 px-2">
                ЦНАП
            </p>
            <p
                class="block bg-colored-80 group-hover:bg-colored transition-colors text-small font-light rounded-3xl py-1 px-2">
                Новини
            </p>
        </div>
        <p class="text-small px-6 mb-5">
            21.11.2025 | 09:07
        </p>
        <h3 class="text-medium px-6 mb-3 max-h-[70px] md:max-h-[77px] lg:max-h-[84px] overflow-hidden">
            Користуйтеся сучасними можливостями отримання послуг!
        </h3>
        <p class="text-regular font-light max-h-[93px] overflow-hidden px-6 mb-10">
            У ЦНАПах по всій україні створені місця для самообслуговування із доступом до Дії
        </p>
    </a>
    <a href="https://cnap.test.toolkit.in.ua/news/255114-dovga-novina-pro-robotu-cnap-iaka-moze-i-v-tri-riadki-roztiagnutis-cetvertii-maje-obrizatis"
        class="group bg-colored rounded-4xl relative hover:bg-colored-80 flex-1 max-w-10/12 md:max-w-md min-w-xs overflow-hidden snap-start">
        <img class="w-full aspect-video object-cover mb-2"
            src="https://storage.googleapis.com/svoi-upload/20/451076/8f3441ec-baf6-4e44-84bc-7e9afdc48b61.jpg"
            alt="8f3441ec-baf6-4e44-84bc-7e9afdc48b61.jpg">
        <div class="flex flex-wrap px-6 mt-6 mb-4 gap-2">
            <p
                class="block bg-colored-80 group-hover:bg-colored transition-colors text-small font-light rounded-3xl py-1 px-2">
                ЦНАП
            </p>
        </div>
        <p class="text-small px-6 mb-5">
            15.11.2025 | 13:25
        </p>
        <h3 class="text-medium px-6 mb-3 max-h-[70px] md:max-h-[77px] lg:max-h-[84px] overflow-hidden">
            Довга новина про роботу ЦНАП яка може і в три рядки розтягнутись. Четвертий має обрізатись
        </h3>
        <p class="text-regular font-light max-h-[93px] overflow-hidden px-6 mb-10">
            Робота ЦНАП Великохутірської громади відзначили на загльообласному рівні. Кожен отримав грамоту-подяку від
            голови ОВА. Всі були щасливі і радісні
        </p>
    </a>
    <a href="https://cnap.test.toolkit.in.ua/news/159240-sering-v-diyi"
        class="group bg-colored rounded-4xl relative hover:bg-colored-80 flex-1 max-w-10/12 md:max-w-md min-w-xs overflow-hidden snap-start">
        <img class="w-full aspect-video object-cover mb-2"
            src="https://storage.googleapis.com/svoi-upload/20/325853/38f98a63-1f52-4a27-97f1-708722bcc608.jpg"
            alt="38f98a63-1f52-4a27-97f1-708722bcc608.jpg">
        <div class="flex flex-wrap px-6 mt-6 mb-4 gap-2">
            <p
                class="block bg-colored-80 group-hover:bg-colored transition-colors text-small font-light rounded-3xl py-1 px-2">
                ЦНАП
            </p>
        </div>
        <p class="text-small px-6 mb-5">
            14.01.2025 | 11:53
        </p>
        <h3 class="text-medium px-6 mb-3 max-h-[70px] md:max-h-[77px] lg:max-h-[84px] overflow-hidden">
            Шерінг в Дії
        </h3>
        <p class="text-regular font-light max-h-[93px] overflow-hidden px-6 mb-10">
            Короткий опис про шеринг в дії на цілих 4 рядочка тут ентер не працює, то добиваємо просто текстом. Світе
            тихий, краю милий, Моя Україно, За що тебе сплюндровано, За що, мамо, гинеш?
        </p>
    </a>
</div>
<div class="slider-control-dots flex lg:hidden w-full justify-center gap-1 mt-3" data-target="news-scrollbar">
    <span class="w-4 h-4 bg-black cursor-pointer"></span>
    <span class="w-4 h-4 bg-(--theme-bg-80) cursor-pointer"></span>
    <span class="w-4 h-4 bg-(--theme-bg-80) cursor-pointer"></span>
</div>