<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-8 gap-y-4 mt-8">
            <div class="border-t-2 border-(--theme-text) flex flex-col justify-start overflow-hidden pt-4 pb-2 md:pt-5 md:pb-0 h-auto md:h-[300px] lg:h-[332px]">
                <a href="/pub-info" class="group block w-full">
                    <h4 class="relative block mb-0 md:mb-2.5 min-h-auto md:min-h-[80px] pr-10 w-full text-big">
                        Публічна інформація
                        <img src="/img/material-design/link-inner.svg" class="md:hidden group-hover:block absolute top-2 right-0 w-5 h-5" alt="">
                    </h4>
                </a>
                <p class="hidden md:block text-regular font-light">Публічна інформація створюється владою під час виконання обов'язків чи перебуває у їхньому володінні. Тут можна знайти всі потрібні дані про роботу муніципалітету та комунальних закладів — звіти, інформація та реєстри</p>
            </div>
            <div class="border-t-2 border-(--theme-text) flex flex-col justify-start overflow-hidden pt-4 pb-2 md:pt-5 md:pb-0 h-auto md:h-[300px] lg:h-[332px]">
                <a href="//kobelyaky-miskrada.gov.ua/pages/160655-zaxisniku-ta-zaxisnici" class="group block w-full">
                    <h4 class="relative block mb-0 md:mb-2.5 min-h-auto md:min-h-[80px] pr-10 w-full text-big">
                        Захиснику і Захисниці
                        <img src="/img/material-design/link-inner.svg" class="md:hidden group-hover:block absolute top-2 right-0 w-5 h-5" alt="">
                    </h4>
                </a>
                <p class="hidden md:block text-regular font-light">На цій сторінці розміщена актуальна інформація для Захисника та Захисниці</p>
            </div>
            <div class="border-t-2 border-(--theme-text) flex flex-col justify-start overflow-hidden pt-4 pb-2 md:pt-5 md:pb-0 h-auto md:h-[300px] lg:h-[332px]">
                <a href="https://kobelyaky-miskrada.gov.ua/heroes" target="_blank" class="group block w-full">
                    <h4 class="relative block mb-0 md:mb-2.5 min-h-auto md:min-h-[80px] pr-10 w-full text-big">
                        Герої не вмирають
                        <img src="/img/material-design/link-inner.svg" class="md:hidden group-hover:block absolute top-2 right-0 w-5 h-5" alt="">
                    </h4>
                </a>
                <p class="hidden md:block text-regular font-light">Розділ присвячений пам'яті наших земляків-захисників, які віддали своє життя за незалежність і свободу України. Це сторінка шани, вдячності та вічної пам'яті про Героїв.</p>
            </div>
            <div class="border-t-2 border-(--theme-text) flex flex-col justify-start overflow-hidden pt-4 pb-2 md:pt-5 md:pb-0 h-auto md:h-[300px] lg:h-[332px]">
                <a href="https://kobelyaky-miskrada.gov.ua/pages/278514-statut-gromadi" target="_blank" class="group block w-full">
                    <h4 class="relative block mb-0 md:mb-2.5 min-h-auto md:min-h-[80px] pr-10 w-full text-big">
                        Статут громади
                        <img src="/img/material-design/link-inner.svg" class="md:hidden group-hover:block absolute top-2 right-0 w-5 h-5" alt="">
                    </h4>
                </a>
                <p class="hidden md:block text-regular font-light">Статут громади – це основний документ, який регулює здійснення місцевого самоврядування, форми та порядок участі територіальної громади у вирішенні питань місцевого значення</p>
            </div>
            <div class="border-t-2 border-(--theme-text) flex flex-col justify-start overflow-hidden pt-4 pb-2 md:pt-5 md:pb-0 h-auto md:h-[300px] lg:h-[332px]">
                <a href="https://kobelyaky-miskrada.gov.ua/pages/57819-rozvitok-malogo-ta-serednyogo-biznesu" target="_blank" class="group block w-full">
                    <h4 class="relative block mb-0 md:mb-2.5 min-h-auto md:min-h-[80px] pr-10 w-full text-big">
                        Розвиток бізнесу
                        <img src="/img/material-design/link-inner.svg" class="md:hidden group-hover:block absolute top-2 right-0 w-5 h-5" alt="">
                    </h4>
                </a>
                <p class="hidden md:block text-regular font-light">Відображаються всі державні програми для розвитку власного бізнесу</p>
            </div>
            <div class="border-t-2 border-(--theme-text) flex flex-col justify-start overflow-hidden pt-4 pb-2 md:pt-5 md:pb-0 h-auto md:h-[300px] lg:h-[332px]">
                <a href="//kobelyaky-miskrada.gov.ua/pages/77736-protidiia-domasnyomu-nasilstvu" class="group block w-full">
                    <h4 class="relative block mb-0 md:mb-2.5 min-h-auto md:min-h-[80px] pr-10 w-full text-big">
                        Протидія домашньому насильству
                        <img src="/img/material-design/link-inner.svg" class="md:hidden group-hover:block absolute top-2 right-0 w-5 h-5" alt="">
                    </h4>
                </a>
                <p class="hidden md:block text-regular font-light">Домашнє насильство: що це таке, як його розпізнати, куди звертатись по допомогу?</p>
            </div>
            <div class="border-t-2 border-(--theme-text) flex flex-col justify-start overflow-hidden pt-4 pb-2 md:pt-5 md:pb-0 h-auto md:h-[300px] lg:h-[332px]">
                <a href="https://kobelyaky-miskrada.gov.ua/pages/21379-podatki-ta-zbori" target="_blank" class="group block w-full">
                    <h4 class="relative block mb-0 md:mb-2.5 min-h-auto md:min-h-[80px] pr-10 w-full text-big">
                        Податки та збори
                        <img src="/img/material-design/link-inner.svg" class="md:hidden group-hover:block absolute top-2 right-0 w-5 h-5" alt="">
                    </h4>
                </a>
                <p class="hidden md:block text-regular font-light">В Україні встановлюються загальнодержавні та місцеві податки.</p>
            </div>
            <div class="flex flex-col gap-4 justify-between bg-white text-black p-10
                        md:col-start-2 md:row-start-1 md:row-span-2
                        lg:col-start-3 lg:row-start-1 lg:row-span-2">
                <div class="flex gap-4">
                    <img src="/img/diia-logo.svg" class="h-18 w-auto" alt="">
                    <img src="/img/material-design/gerb-filler.svg" class="h-18 w-auto" alt="">
                </div>
                <h3 class="text-bigger">Портал державних послуг «Дія»</h3>
                <p class="text-regular font-light">Онлайн-сервіс державних послуг, де все швидко, чітко й зрозуміло. Тут можна отримати послугу там і тоді, коли потрібно.</p>
                <a href="https://diia.gov.ua/" class="button-black text-center" target="_blank">Дізнатись більше</a>
            </div>

        </div>